<div class="d-flex flex-column justofy-content-center align-item-center">
  <%= image_tag 'profile.png', class: "img-thumbnail rounded-circle border border-2 border-primary", style: "width: 3.0rem"%> 
  <small style="max-width: 3.5rem; overflow:hidden; white-space: nowrap; text-overflow:ellipsis"> Usernam bkjds hehfkj </small>
</div>